language: php

php:
  - 5.6.4

sudo: false

cache:
  directories:
  - vendor
  - $HOME/.composer/cache

before_script:
  - COMPOSER_DISCARD_CHANGES=1 composer install --prefer-source --no-interaction
script:
  - vendor/bin/phpunit
after_success:
    - vendor/bin/test-reporter